.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    padding: 0 !important;
    width: 4.8rem !important;
    height: 4.8rem !important;
    margin: 0 !important;
}

.md-header{
    min-height: 2rem !important;
}

.md-logo{
    padding:0 !important;
    margin:0 !important;
}